<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario Producto</title>


<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">


</head>
<body>

	<div class="container">
		<div class="row">
			<h1>Editar Producto</h1>

			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<div class="card-body">
					<form th:action="@{/producto/{clave}(clave=${keyProducto.clave})}"
						method="POST" th:object="${keyProducto}">

						<div class="form-group">
							<label>Nombre: </label> <input type="text" name="nombre"
								th:field="*{nombre}" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Descripción: </label> <input type="text"
								name="descripcion" th:field="*{descripcion}"
								class="form-control" required>
						</div>
						<div class="form-group">
							<label>Precio Unitario: </label> <input type="text"
								name="precioUnitario" th:field="*{precioUnitario}"
								class="form-control" required>
						</div>
						<div class="form-group">
							<label>Existencias: </label> <input type="text"
								name="existencias" th:field="*{existencias}"
								class="form-control" required>
						</div>

						<br>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>

					</form>

				</div>

			</div>

		</div>
	</div>

</body>
</html>